body{
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("white.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: rgba(232, 232, 232, 0.78);
    background-size: 960px 2000px;
    background-position: center 9px;
}

/* NAVIGATION BAR CSS */


#Nav {

    margin-top: 15px;
    margin-left: 5px;
    margin-right: 10px;
    margin-bottom: 35px;
    background-color: #ebebeb;
    color: #bebebe;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    max-width: 950px;
    height: 35px;

}



A {
    FONT-SIZE: 20PT ;
    FONT-FAMILY: "ROBOTO";
    color: #9e9e9e;
    text-decoration: none;
    margin: 0 20px;

}

a:hover {
    color: #ffffff;
}

/* IMAGE SIZING AND POSITIONING CSS */

#banner
{
    width: 951px;
    height: 380px;
    position: absolute;
    padding-left: 2px;
}

#bar
{
    padding-top: 630px;
    width: 950px;
    height: 10px;
    padding-left: 2px;
}



#contact
{
    width: 330px;
    height: 261px;
    padding-top: px;
    padding-left: 15px;
    margin-top: 34px;


}

#college {
    width: 300px;
    height: 130px;
    float: right;
    padding-bottom: 150px;
    padding-right: 20px;
}


#lmrl
{
    width: 260px;
    height: 210px;
    float: right;
    padding-bottom: 50px;
    padding-right: 20px;
    padding-top: 10px;
}

#rgu {
    width: 600px;
    height: 160px;
    float: right;
    padding-bottom: 20px;
    padding-right: 20px;
}


/* TEXT STYLING*/

h1 {
    font-family: 'ROBOTO' , sans-serif;
    font-weight: 300;
    color: #7c7c7c;
    text-align: center;
    font-size: 40pt;
}

h2 {
    font-family: 'ROBOTO' , sans-serif;
    font-weight: 300;
    text-decoration: underline;
}

h3 {
    font-family: 'ROBOTO' , sans-serif;
    font-weight: 300;
    text-decoration: none;
}

p {
    font-family: 'ROBOTO' , sans-serif;
}

/* POSITIONING*/

#freetime {
    padding-bottom: 10px;
}

#ask {
    position: relative;
    left: 25px;
    margin-bottom: 15px;
    padding-top: 30px;
}


.topleft {
    position: relative;
    bottom: 260px;
    left: 280px;
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;


}

.topright {
    position: relative;
    bottom: 260px;
    left: 736px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.topright1 {
    position: relative;
    bottom: 260px;
    left: 806px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.topright3 {
    position: relative;
    bottom: 373px;
    left: 736px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
}

.w3-btn
{
    width:80px;
}


div.relative {
    position: relative;
    width: 400px;
    height: 400px;

}

div.absolute {
    position: absolute;
    top: 0px;
    right: 190px;
    width: 200px;
    height: 100px;

}

#video {
    position: relative;
    bottom: 310px;
    left: 390px;
}

#grid {
    padding-top: 0px;
    position: relative;
    left: 610px;
    top: -60px;
}

#tel {
    left: -23px;
    position: relative;
    font-family: 'ROBOTO' , sans-serif;
}

#map {
    position: relative;
    left: -297px;
    top: 600px;
}


/* HOME BUTTON */

#home {
    FONT-SIZE: 10PT ;
    FONT-FAMILY: "ROBOTO";
    color: #9e9e9e;
    text-decoration: none;
    margin: 0 20px;

}

#search {
    FONT-SIZE: 10PT ;
    FONT-FAMILY: "ROBOTO";
    color: #9e9e9e;
    text-decoration: none;
    margin: 0 8px;
    margin-left: -20px;
    height: 30px;


}

#mySearch {
    FONT-SIZE: 10PT ;
    FONT-FAMILY: "ROBOTO";
    color: #060606;
    text-decoration: none;
    margin: 0 8px;
    margin-left: 0px;
    height: 30px;
    background-color: #f6f6f6;


}


/* Question box */

#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0px;
}

#form-div {
    background-color: #ebebeb;
    padding-left:35px;
    padding-right:35px;
    padding-top:35px;
    padding-bottom:50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top:30px;
    margin-left: -460px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #ffffff;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */

#name{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#button-blue{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    float:left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor:pointer;
    background-color: #3498db;
    color:white;
    font-size:24px;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
    background-color: rgba(0,0,0,0);
    color: #0493bd;
}

.submit:hover {
    color: #3498db;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

@media only screen and (max-width: 580px) {
    #form-div{
        left: 3%;
        margin-right: 3%;
        width: 88%;
        margin-left: 0;
        padding-left: 3%;
        padding-right: 3%;
    }
}

